{% extends "oge2020/base.html" %}


{% block title %} Разбор тренировочных упражнений по теме {{ object.id }} {% endblock title %}
{% block header %} Разбор тренировочных упражнений по теме {{ object.id }} : {{ object.name }} {% endblock header %}

{% block content %}

    {% if question_list %}
        <ul>

            {% for test in question_list %}

                <li>
                    <b>Вопрос: </b> {{ test.question_text }} </li>

                <b>Решение: </b> отсутствует

                <b>Ответ: </b> {{ test.question_answer }}
                <li>

                <hr>

            {% endfor %}

        </ul>
    {% else %}
        <p>В настоящее время нет теоретических материалов.</p>
    {% endif %}

{% endblock %}