{% extends "oge2020/base.html" %}

{% block title %}HOME{% endblock title %}
{% block header %}{% endblock header %}

{% block content %}
    <h1>Добро пожаловать! </h1>
    <h2 align="left"> Информация об экзамене:</h2>
    <h3 align="left">
        <ol>
            <li>Количество заданий: 15</li>
            <li>Первая часть содержит 10 заданий с кратким ответом</li>
            <li>Вторая часть содержит 5 заданий(2 задания с кратким ответом и 3 зания с развёрнутым ответом), которые
                необходимо выполнять на компьютере
            </li>
            <li>Максимальный первичный балл: 19 баллов(10 баллов за первую часть и 9 за вторую)</li>
            <li>По сравнению с 2019 г., В КИМ 2020 г. расширен набор заданий, выполняемых на компьютере,
                за счёт включения трёх новых заданий, проверяющих умения и навыки
                практической работы с компьютером:
            </li>
            <ul>
                <li>• поиск информации средствами текстового редактора или
                    операционной системы (задание 11);
                </li>
                <li>• анализ содержимого каталогов файловой системы (задание 12);</li>
                <li>• создание презентации или текстового документа (задание 13).</li>
            </ul>
            <li>Продолжительность экзамена:2 часа 30 минут(150 минут)</li>
        </ol>

    </h3>
    <h2 align="left">Более подробная информация:</h2>
    <h3 align="left">
        <ol>
            <li>Демоверсия</li>
            <embed src="/static/pdf/inf-9-oge-2020_demo.pdf" width="800" height="500"/>
            <li>Спецификация</li>
            <embed src="/static/pdf/inf-9-oge-2020_kodif.pdf" width="800" height="500"/>
            <li>Кодификатор</li>
            <embed src="/static/pdf/inf-9-oge-2020_spec.pdf" width="800" height="500"/>
        </ol>
    </h3>
{% endblock content %}