{% extends "oge2020/base.html" %}

{% block title %} Вариант ОГЭ {{ object.id }} {% endblock title %}
{% block header %} Вариант ОГЭ {{ object.id }} {% endblock header %}

{% block content %}

    <p> Название варианта: {{ variant_object.name }}

        <br>
        <br>


        {% if question_list %}
            {#форма обладает enctype="multipart/form-data" для загрузки файлов#}
            <form action="../exercise_result/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <ul>
                    {% for test in question_list %}
                        <li>
                            <b>Вопрос: </b> {{ test.question_text }}
                            <br>
                            {% if test.picture1 %}
                                <img src="/media/{{ test.picture1 }}" alt="{{ test.picture1 }}"/>
                            {% endif %}
                            {% if test.picture2 %}
                                <img src="/media/{{ test.picture2 }}" alt="{{ test.picture2 }}"/>
                            {% endif %}
                            {% if test.picture3 %}
                                <img src="/media/{{ test.picture3 }}" alt="{{ test.picture3 }}"/>
                            {% endif %}
                            {% if test.picture4 %}
                                <img src="/media/{{ test.picture4 }}" alt="{{ test.picture4 }}"/>
                            {% endif %}
                            {% if test.picture5 %}
                                <img src="/media/{{ test.picture5 }}" alt="{{ test.picture5 }}"/>
                            {% endif %}

                            <br>

                        <p><label for="id_answer-{{ test.id }}"><b>Ваш ответ: </b></label>
                            <textarea name="answer-{{ test.id }}" cols="40" rows="2" id="id_answer-{{ test.id }}"
                                      required></textarea></p>

                        {% if test.question_type == 3 %}

                            <label for="answer_document-{{ test.id }}">Документ для проверки:</label>
                            <input type="file" name="answer_document-{{ test.id }}"
                                   id="id_answer_document-{{ test.id }}" required>
                        {% endif %}
                        </li>
                        <li>
                        <hr>
                    {% endfor %}
            </ul>
            <input type="submit" value="Ответить"/>
            </form>

        {% else %}
            <p>В настоящее время нет теоретических материалов.</p>
        {% endif %}



{% endblock %}