<style>
    .tests {
        text-decoration: none;
        outline: none;
        display: inline-block;
        width: 100px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: COMIC SANS MS;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: #6699cc;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
    }

    .tests:hover {
        background: #8EC0D7;
        color: white;
        transform: translateY(-7px);

    .arrow-7 {
        margin: 30px;

    }

    }
</style>
{% extends "oge2020/base.html" %}


{% block title %} Моя статистика {% endblock title %}
{% block header %} Моя статистика обучения {% endblock header %}

{% block content %}

    <p> Таблица со статистикой обучения</p>


    <table>
        <tr>
            <th>Вариант</th>
            <th>Вопрос</th>
            <th>Ответ</th>
            <th>Правильность</th>
            <th>Дата</th>
        </tr>
        {% for record in journal %}
            <tr>
                <td>{{ record.question.variant_number.name }} №{{ record.question.variant_number.number }}</td>
                <td>{{ record.question.question_text }}</td>
                <td>{{ record.answer }}</td>
                <td>{{ record.correct }}</td>
                <td>{{ record.created_date.date }}</td>
            </tr>
        {% endfor %}

    </table>

    <p> Таблица со статистикой обучения</p>

    <table>
        <tr>
            <th>Задание</th>
            <th>Количество правильных</th>
            <th>Количество непаравильных</th>
            <th>Дата</th>
        </tr>
        {% for theme in journal_data %}
            {{ theme }}
            {{ correct_data.0.0 }}{{ forloop.counter0 }}
            {#            {% for name, questions, correct, incorrect in theme.items %}#}
            {#                {{ questions }}#}
            {#            {% endfor %}#}
            <tr>
                <td>{{ theme.name }}</td>
                <td>{{ theme.correct }}</td>
                <td>{{ theme.incorrect }}</td>
                <td>{{ record.created_date.date }}</td>
            </tr>
            {% for question in theme.questions %}

                {% for record in question %}
                    {#                {% forloop.parentloop %}#}

                    <tr>
                        <td>{{ record.question.question_text }}</td>
                        <td>{{ record.question.question_text }}</td>
                        <td>{{ record.question.question_text }}</td>
                        <td>{{ record.created_date.date }}</td>

                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}

    </table>


{% endblock content %}