<style>
    .corner-box-7 * {
        box-sizing: content-box;
    }

    .corner-box-7 {
        position: relative;
        display: inline-block;
        width: 300px;
        padding: 20px;
        margin: 10px;
        text-align: center;
    }

    .corner-textbox-7 {
        padding: 20px;
    }

    .corner-frame-7-top {
        top: 0px;
        left: 3px;
        width: calc(100% - 46px);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #BFE2FF;
        position: absolute;
    }

    .corner-frame-7-left {
        top: 3px;
        left: 0px;
        width: 0px;
        height: calc(100% - 46px);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #BFE2FF;
        position: absolute;
    }

    .corner-frame-7-bottom {
        bottom: 0;
        left: 3px;
        width: calc(100% - 46px);
        height: 0px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #BFE2FF;
        position: absolute;
    }

    .corner-frame-7-right {
        right: 0;
        top: 3px;
        width: 0px;
        height: calc(100% - 46px);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #BFE2FF;
        position: absolute;
    }

    .tests {
        text-decoration: none;
        outline: none;
        display: inline-block;
        width: 70px;
        height: 30px;
        line-height: 45px;
        border-radius: 45px;
        margin: 5px 5px;
        font-family: COMIC SANS MS;
        font-size: 8px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 600;
        color: #6699cc;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
    }

    .tests:hover {
        background: #8EC0D7;
        color: white;
        transform: translateY(-7px);
    }

    .varianty {

        color: #BC8F8F;
        font-family: COMIC SANS MS;
        font-size: 15px;
        font-weight: bold;
        text-shadow: 0 1px 0 #c0c0c0;
        padding: 7px 0 8px 0;
        margin: 0;
        cursor: pointer;
        border: 0;
        border-top: 1px solid #c0c0c0;
        width: 120px;
        border-radius: 2px;

    .varianty:hover {
        background: white;
    }
</style>
{% extends "oge2020/base.html" %}

{% block title %}THEORY{% endblock title %}
{% block header %}{% endblock header %}



{% block content %}
    <div class="corner-box-7">
        <div class="corner-frame-7-left"></div>
        <div class="corner-frame-7-right"></div>
        <div class="corner-frame-7-bottom"></div>
        <div class="corner-frame-7-top"></div>
        <div class="corner-textbox-7">
            <h1>Регистрация NNN</h1>

            <div>

                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Зарегистрировать">
                </form>

                <!--
                 <form >
                Введите имя:<br>
                <a><input   type="text" name="name" size=”15” maxlength=”20” value="" ><br></a>
                Введите фамилию:<br>
                <a><input   type="text" name="surname" size=”15” maxlength=”20” value="" ><br></a>
                Введите email:<br>
                <a> <input type="email" name="login"><br></a>
                Введите пароль:<br>
                <input   type="password" name="pass" size=”5” maxlength=”10” value="" ><br>
                <input class="tests"  type="submit" name="otpravit" value="Регистрация">
                <input class="tests"  type="reset" name="ochistit" value="Очистить">
                --->

                </form>
            </div>

        </div>
    </div>






{% endblock content %}