{% extends "oge2020/base.html" %}
{% block title %}THEORY{% endblock title %}
{% block header %}Теория{% endblock header %}

{% block content %}

    <div align="center">
        bank
    </div>


    <!--
{% for text in texts %}
--->
        <text>
            <div>
                <h3>тема{{ object.number }}</h3>
            </div>

            <p>
            <div align="center-left">
                <h3>{{ object.material }}</h3>

            </div>
        </text>
        <!--
{% endfor %}
--->



{% endblock content %}